@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
main {
  max-width: 100vw;
  max-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100vw;
      grid-template-columns: 100vw;
  -ms-grid-rows: 35.25rem;
      grid-template-rows: 35.25rem;
      grid-template-areas: "hd" "sec" "ft";
}

main header {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hd;
}

main header img {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}

main header i {
  color: #000;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem !important;
}

main section.items {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sec;
  background-color: #000;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: 35rem 35rem 35rem;
      grid-template-columns: 35rem 35rem 35rem;
  -ms-grid-rows: 30rem 30rem 30rem;
      grid-template-rows: 30rem 30rem 30rem;
      grid-template-areas: "a1 a2 a3" "a4 a5 a6" "a7 a8 a9";
}

main section.items img {
  max-width: 19.5rem;
  width: 100%;
  max-height: 19.5rem;
  height: 100%;
}

main section.items button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 2rem;
  background-color: #E83F57;
  color: white;
  padding: .75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: .5rem;
}

main section.items .a1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a1;
}

main section.items .a2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: a2;
}

main section.items .a3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: a3;
}

main section.items .a4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: a4;
}

main section.items .a5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: a5;
}

main section.items .a6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: a6;
}

main section.items .a7 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: a7;
}

main section.items .a8 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: a8;
}

main section.items .a9 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: a9;
}

main footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: ft;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 69px;
  width: 100%;
  max-height: 126px;
  height: 100%;
}

main footer .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

:root {
  font-family: 'Fira Sans', sans-serif;
}

h2, h3, a, p {
  color: #FFF;
  text-decoration: none;
}

h2.dark {
  color: #000;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */